.contenedor {
    margin-bottom: 20px;
    background: #0d6efc;
    color: #fff;
}

.contenedor > div {
    /* background: rgba(255,255,255, .2); */
    padding: 15px;
    border: 30px solid #0d6efc;
}

.button {
    margin-left: 30px;
    background: #0d6efd;
}